@import "@styles/variables.scss";
@import "@styles/breakpoints.scss";

.container {
    display: flex;
    height: 100%;
    background-color: $white;
    margin-bottom: 0px;
    flex-direction: column;
    margin-bottom: 0px;
    width: 250px;

    @include md {
        margin-bottom: 20px;
        width: 100%;
    }

    .title {
        font-family: inherit;
        font-size: 28px;
        margin: 0;

        @include md {
            display: none;
        }
    }

    .categories {
        list-style: none;
        display: list-item;

        &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        @include md {
            display: none;
        }

        .categoryItem {
            padding-top: 18px;
            padding-bottom: 18px;
            display: flex;
            align-items: center;
            width: fit-content;

            @include md {}

            a {
                display: flex;
                align-items: center;
                flex-direction: column;
                color: $black_12;
                font-family: inherit;
                flex-direction: row;

                @include md {
                    flex-direction: column;
                    min-width: 100px;
                    width: 100%;
                }
            }

            .emoji {
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 4px;
                margin-right: 14px;
                margin-bottom: 0px;

                @include md {
                    margin: 0 auto;
                }
            }
        }
    }
}