@import "@styles/variables.scss";
@import "@styles/breakpoints.scss";

.header {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;

    @include md {
        flex-direction: row;
    }

    .title {
        font-size: 28px;
        margin: 0;

        .emoji {
            font-weight: 400;
            font-family: initial;
            margin-right: 10px;
        }
    }

    .headerButtons {

        .buttons {
            font-size: 16px;
            font-weight: bold;
        }

        @include md {
            margin-left: auto;
            margin-top: 0px;
        }
    }
}