@import "@styles/variables.scss";
@import "@styles/breakpoints.scss";

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 35px;

    @include md {
        flex-direction: row;
    }

    .title {
        font-size: 28px;
        margin: 0;

        .emoji {
            font-weight: 400;
            font-family: initial;
            margin-right: 10px;
        }
    }

    .headerButtons {
        margin-top: 12px;

        .buttons {
            font-size: 16px;
            font-weight: bold;
        }

        @include md {
            margin-left: auto;
            margin-top: 0px;
        }
    }
}