@import "@styles/breakpoints.scss";

/* MAIN LAYOUT */
.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    max-width: 1240px;
    width: 100%;
    min-height: 100vh;

    .main {
      display: flex;
      overflow: hidden;
      flex-direction: column;

      @include md {}
    }
  }
}