@import "@styles/variables.scss";
@import "@styles/breakpoints.scss";

.container {
    margin-bottom: 20px;

    .description {
        font-size: 16px;
    }

    .product {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 12px;
        padding: 10px 10px;
        background-color: $blue_09;

        @include md {
            padding: 0;
            background-color: unset;
        }
    }
}