@import "@styles/variables.scss";
@import "@styles/breakpoints.scss";

.container {
    margin-bottom: 20px;

    .description {
        font-size: 16px;
    }

    .product {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top: 12px;

        @include md {
            padding: 0;
        }
    }
}