@import "@styles/variables.scss";
@import "@styles/breakpoints.scss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 1.5;
  background: $white !important;
  background-color: $white !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* CONTETN LAYOUT */
.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 35px;
  padding-left: 20px;
  padding-right: 20px;

  @include md {
    flex-direction: column;
    margin-top: 0
  }
}

/* OVERRIDE ANT DESIGN */
.ant-image {
  // display: unset !important;
  width: 100%;
}

.ant-card {
  font-family: inherit;
}

.ant-layout-header {
  padding: unset !important;
}


/* CSS SCROLL BAR BROWSER */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $blue_06;
}