@import "@styles/variables.scss";
@import "@styles/breakpoints.scss";

.home {
  width: 100%;
  overflow: hidden;

  @include md {
    flex-direction: row;
  }

  .bannerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin: 20px 0;
  }
}