@import "@styles/variables.scss";
@import "@styles/breakpoints.scss";
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");

.container {
    display: flex;
    z-index: 1;
    width: 100%;
    background-color: $white !important;
    height: 75px !important;
    align-items: center;

    @include md {
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logoContainer {
        font-family: "Sansita Swashed";
        display: flex;
        align-items: center;
        font-size: 36px;
        margin-left: 20px;
        margin-right: 20px;

        .logo {
            color: $blue_06;
        }

        @include md {
            padding: 0;
            margin: 0;
            margin-left: 20px;
        }
    }

    .inputContainer {
        background-color: transparent;
        width: 80%;
        display: inline-flex;
        align-items: center;

        @include md {
            display: none;
        }

        .inputAnt,
        input,
        input::placeholder {
            color: $black_12 !important;
            font-family: inherit !important;


        }
    }

    .rightConrtainer {
        margin: 0 auto;

        .cartContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            color: $black_17;
            width: max-content;

            .cartIcon {
                margin-right: 8px;
            }

            span {
                font-size: 16px;
                font-weight: bold;
            }

            @include md {
                display: none;
            }
        }

        .drawer {
            display: none;

            @include md {
                display: block;
            }
        }

        @include md {
            margin-right: 20px;
        }
    }
}