@import "@styles/variables.scss";
@import "@styles/breakpoints.scss";

.container {
  max-width: 240px;
  font-size: inherit;
  font-family: inherit;
  border: unset !important;

  .wrapper_image {
    overflow: hidden;
    height: 240px;
    padding: 16px;

    .image_item {
      max-width: 100%;
      height: 240px;
      object-fit: cover;
      border-radius: 10px;
    }

    @include lg {
      height: auto;
      object-fit: cover;
    }

    @include md {
      height: auto;
      object-fit: unset;
    }
  }

  .description {

    .price {
      font-family: inherit;
      font-weight: 500;
      font-size: 18px;
      color: $blue_06 !important;
    }
  }

  @include md {
    max-width: 100%;
  }
}